.vs/
*.csproj.user
*.sln.docstates
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters.user
*.vcxproj.FileList.xml
ProjectSettings/
obj/
bin/
_ReSharper*/
*.DotSettings.user
*.patch
*.vspscc
*.vssscc
*.userprefs
_UpgradeReport_Files/
UpgradeLog.htm